{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Anita | Creative Photography</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Rajdhani:wght@700&display=swap"
        rel="stylesheet">
    <!-- Template Config -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/config.css' %}">
    <!-- Libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/libs.css' %}">
    <!-- Template Styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="32x32" />
</head>

{% block content %}

{% endblock %}

<script src="{% static 'js/lib/jquery.min.js' %}"></script>
<script src="{% static 'js/lib/aos.min.js' %}"></script>
<script src="{% static 'js/core.js' %}"></script>
</body>

</html>